body {
  padding: 82px 0 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#france {
	width: 1000px;
	height: 949px;
	background-image: url("../images/carte_de_france.png");
}

#Paris {
	position: absolute;
	top: 400px;
	left: 513px;
}

#Lille {
	position: absolute;
	top: 240px;
	left: 550px;
}

#Strasbourg {
	position: absolute;
	top: 400px;
	left: 829px;
}

#Bordeaux {
	position: absolute;
	top: 720px;
	left: 319px;
}

#Nantes {
	position: absolute;
	top: 520px;
	left: 268px;
}

#Lyon {
	position: absolute;
	top: 635px;
	left: 673px;
}

#Saint-Etienne {
	position: absolute;
	top: 695px;
	left: 634px;
}

#Brest {
	position: absolute;
	top: 400px;
	left: 130px;
}

#Rennes {
	position: absolute;
	top: 430px;
	left: 273px;
}

#Grenoble {
	position: absolute;
	top: 700px;
	left: 745px;
}

#Toulon {
	position: absolute;
	top: 875px;
	left: 748px;
}

#Marseille {
	position: absolute;
	top: 865px;
	left: 675px;
}

#Reims {
	position: absolute;
	top: 335px;
	left: 613px;
}

#Bastia {
	position: absolute;
	top: 910px;
	left: 963px;
}

#Ajaccio {
	position: absolute;
	top: 970px;
	left: 933px;
}

#Bayonne {
	position: absolute;
	top: 830px;
	left: 255px;
}

#Toulouse {
	position: absolute;
	top: 840px;
	left: 411.5px;
}

#Rouen {
	position: absolute;
	top: 330px;
	left: 423px;
}

#Nice {
	position: absolute;
	top: 830px;
	left: 813px;
}

#Clermont-Ferrand {
	position: absolute;
	top: 630px;
	left: 526px;
}

#Angers {
	position: absolute;
	top: 500px;
	left: 343px;
}

#Mende {
	position: absolute;
	top: 755px;
	left: 573px;
}

#Dijon {
	position: absolute;
	top: 505px;
	left: 648px;
}

#Limoges {
	position: absolute;
	top: 635px;
	left: 438px;
}

#Caen {
	position: absolute;
	top: 360px;
	left: 343px;
}

#Perpignan {
	position: absolute;
	top: 932px;
	left: 524px;
}

#Narbonne {
	position: absolute;
	top: 878px;
	left: 532px;
}

#Montpellier {
	position: absolute;
	top: 835px;
	left: 597px;
}

#Orleans {
	position: absolute;
	top: 460px;
	left: 473px;
}

#Agen {
	position: absolute;
	top: 770px;
	left: 383px;
}

#Troyes {
	position: absolute;
	top: 410px;
	left: 605px;
}

#Poitiers {
	position: absolute;
	top: 600px;
	left: 343px;
}

#Metz {
	position: absolute;
	top: 350px;
	left: 703px;
}

#Amiens {
	position: absolute;
	top: 300px;
	left: 493px;
}

#Besancon {
	position: absolute;
	top: 505px;
	left: 736px;
}

#Chateauroux {
	position: absolute;
	top: 560px;
	left: 468px;
}

#self {
	padding: 2px;
	margin-right: 10px;
	right: 0;
	top: 140px;
	position: fixed;
}

#self2 {
	-moz-column-count: 2;
	column-count: 2;
	padding: 2px;
	margin-right: 10px;
	right: 0;
	top: 140px;
	position: fixed;
}