<div id="france">
    <div ng-repeat="x in meteos">
        <div id="{{x.name}}">
            <div><a href="{{x.name}}">{{x.name}}</a></div>
            <div>{{x.weather[0].description}}</div>
            <div>{{x.main.temp - 273 | number: 1}} °C</div>
        </div>
    </div>
</div>
<div id="self">
    <div ng-include="'partials/self.html'"></div>
    <div ng-if="withoutGeo">
        <div ng-include="'partials/selfWithoutGeo.html'"></div>
    </div>    
    <button class="meteo_france" ng-click="toggle()">Cacher Twitter météo France</button>
    <div ng-hide="twitter_meteo_france">
        <a class="twitter-timeline"  href="https://twitter.com/hashtag/meteo%2C%23france" data-widget-id="754460898551533568">Tweets sur #meteo,#france</a>
    </div>    
</div>
