<div ng-include="'partials/onglets.html'"></div>
    
<div id="self2">
    <div>
        <a class="twitter-timeline"  href="https://twitter.com/hashtag/meteo%2C%23besancon" data-widget-id="754533423595814912">Tweets sur #meteo,#besancon</a>
    </div>
    <div ng-include="'partials/self.html'"></div>
    <div ng-if="withoutGeo">
        <div ng-include="'partials/selfWithoutGeo.html'"></div>
    </div> 
</div>
         
          