<div ng-include="'partials/onglets.html'"></div>
             
<div id="self2">
    <div>
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/meteo%2C%23lille" data-widget-id="754483546304159745">Tweets sur #meteo,#lille</a> 
    </div>
    <div ng-include="'partials/self.html'"></div>
    <div ng-if="withoutGeo">
        <div ng-include="'partials/selfWithoutGeo.html'"></div>
    </div> 
</div>
