<div ng-include="'partials/onglets.html'"></div>
            
<div id="self2">
    <div>
        <a class="twitter-timeline" data-widget-id="754448905824329728">Tweets sur #meteo,#paris</a>
    </div>
    <div ng-include="'partials/self.html'"></div>
    <div ng-if="withoutGeo">
        <div ng-include="'partials/selfWithoutGeo.html'"></div>
    </div> 
</div>

