<div ng-include="'partials/onglets.html'"></div>
  
<div id="self2">
    <div>
        <a class="twitter-timeline"  href="https://twitter.com/hashtag/meteo%2C%23perpignan" data-widget-id="754537182807941120">Tweets sur #meteo,#perpignan</a>
    </div>
    <div ng-include="'partials/self.html'"></div>
    <div ng-if="withoutGeo">
        <div ng-include="'partials/selfWithoutGeo.html'"></div>
    </div> 
</div>