<div ng-include="'partials/onglets.html'"></div>

<div id="self2">
    <div>
        <a class="twitter-timeline"  href="https://twitter.com/hashtag/meteo%2C%23poitiers" data-widget-id="754530071000518656">Tweets sur #meteo,#poitiers</a>
    </div>
    <div ng-include="'partials/self.html'"></div>
    <div ng-if="withoutGeo">
        <div ng-include="'partials/selfWithoutGeo.html'"></div>
    </div> 
</div>