<div ng-include="'partials/onglets.html'"></div>
        
<div id="self2">
    <div>
        <a class="twitter-timeline"  href="https://twitter.com/hashtag/meteo%2C%23rennes" data-widget-id="754528936881754112">Tweets sur #meteo,#rennes</a>
    </div>
    <div ng-include="'partials/self.html'"></div>
    <div ng-if="withoutGeo">
        <div ng-include="'partials/selfWithoutGeo.html'"></div>
    </div> 
</div>