<div ng-include="'partials/onglets.html'"></div>
           
<div id="self2">
    <div>
        <a class="twitter-timeline"  href="https://twitter.com/hashtag/meteo%2C%23rouen" data-widget-id="754528266606829568">Tweets sur #meteo,#rouen</a>
    </div>
    <div ng-include="'partials/self.html'"></div>
    <div ng-if="withoutGeo">
        <div ng-include="'partials/selfWithoutGeo.html'"></div>
    </div> 
</div>