<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">myMeteoApp</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Carte de la France</a></li>
      <li><a href="/ville">Recherche une ville</a></li>
    </ul>
  </div>
</nav>
