<div class="container">
    <section ng-app="myApp" ng-controller="TabController as tab">
        <ul class="nav nav-pills">
            <li ng-class="{active:tab.isSet(1)}"><a href ng-click="tab.setTab(1)">Aujoud'hui</a></li>
            <li ng-class="{active:tab.isSet(2)}"><a href ng-click="tab.setTab(2)">Demain</a></li>
            <li ng-class="{active:tab.isSet(3)}"><a href ng-click="tab.setTab(3)">Après demain</a></li>
        </ul>
        
        <div ng-show="tab.isSet(1)">
            <div ng-controller='meteoForecastController'>
                <h3>Voici la météo pour {{city}}</h3>
                <p><strong>{{meteos[0].weather[0].main;}}</strong></p>
                <p>{{meteos[0].weather[0].description}}</p>
                <p>température en matinée: {{meteos[0].temp.morn - 273 | number: 1}} °C</p>
                <p>température en journée: {{meteos[0].temp.day - 273 | number: 1}} °C</p>
                <p>température en soirée: {{meteos[0].temp.eve - 273 | number: 1}} °C</p>
                <p>température pendant la nuit: {{meteos[0].temp.night - 273 | number: 1}} °C</p>
                <p>température maximale: {{meteos[0].temp.max - 273 | number: 1}} °C</p>
                <p>température minimale: {{meteos[0].temp.min - 273 | number: 1}} °C</p> 
                <p>humidity: {{meteos[0].humidity}}</p>
                <p>pressure: {{meteos[0].pressure}} hPa</p>
                <p>speed: {{meteos[0].speed}}</p>
            </div>
        </div>
        <div ng-show="tab.isSet(2)">
            <div ng-controller='meteoForecastController'>
                <h3>Voici la météo pour {{city}}</h3>
                <p><strong>{{meteos[1].weather[0].main;}}</strong></p>
                <p>{{meteos[1].weather[0].description}}</p>
                <p>température en matinée: {{meteos[1].temp.morn - 273 | number: 1}} °C</p>
                <p>température en journée: {{meteos[1].temp.day - 273 | number: 1}} °C</p>
                <p>température en soirée: {{meteos[1].temp.eve - 273 | number: 1}} °C</p>
                <p>température pendant la nuit: {{meteos[1].temp.night - 273 | number: 1}} °C</p>
                <p>température maximale: {{meteos[1].temp.max - 273 | number: 1}} °C</p>
                <p>température minimale: {{meteos[1].temp.min - 273 | number: 1}} °C</p> 
                <p>humidity: {{meteos[1].humidity}}</p>
                <p>pressure: {{meteos[1].pressure}} hPa</p>
                <p>speed: {{meteos[1].speed}}</p>
            </div>
        </div>
        <div ng-show="tab.isSet(3)">
            <div ng-controller='meteoForecastController'>
                <h3>Voici la météo pour {{city}}</h3>
                <p><strong>{{meteos[2].weather[0].main;}}</strong></p>
                <p>{{meteos[2].weather[0].description}}</p>
                <p>température en matinée: {{meteos[2].temp.morn - 273 | number: 1}} °C</p>
                <p>température en journée: {{meteos[2].temp.day - 273 | number: 1}} °C</p>
                <p>température en soirée: {{meteos[2].temp.eve - 273 | number: 1}} °C</p>
                <p>température pendant la nuit: {{meteos[2].temp.night - 273 | number: 1}} °C</p>
                <p>température maximale: {{meteos[2].temp.max - 273 | number: 1}} °C</p>
                <p>température minimale: {{meteos[2].temp.min - 273 | number: 1}} °C</p> 
                <p>humidity: {{meteos[2].humidity}}</p>
                <p>pressure: {{meteos[2].pressure}} hPa</p>
                <p>speed: {{meteos[2].speed}}</p>
            </div>
        </div>
    </section>
</div>