<div ng-controller="meteoSelfWithoutGeoController">
    <div ng-if="notice != false">
        <p>La géolocalisation ne fonctionne pas chez vous, entrer un nom de ville</p>
        <p>pour suivre la météo de votre ville pendant votre navigation.</p>
    </div>    
    <label>Ville</label>
    <input type="text" ng-model="city" placeholder="Indiquez votre ville">
    <input type="button" value="Obtenir la météo" ng-click="getWeather()">
    <div ng-if="meteo">
        <h3>Voici la météo pour {{city}}</h3>
        <p>station météo : {{station}}</p>
        <p><strong>{{main}}</strong></p>
        <p>{{description}}</p>
        <p>lever du Soleil: {{sunrise | date:'dd/MM/yyyy H:m:s'}}</p>
        <p>coucher du Soleil: {{sunset | date:'dd/MM/yyyy H:m:s'}}</p>
        <p>température: {{temp - 273 | number: 1}} °C</p>
        <p>humidity: {{humidity}}</p>
    </div>
    <div ng-if="pasmeteo">
        <pre>
            {{resultat}}
        </pre>
    </div>
</div>     