<div ng-controller='meteoSelfController'>
	<div ng-if="affichage">
	    <h3>Voici la météo pour {{station}}</h3>
	    <p><strong>{{main}}</strong></p>
	    <p>{{description}}</p>
	    <p>lever du Soleil: {{sunrise | date:'dd/MM/yyyy H:m:s'}}</p>
	    <p>coucher du Soleil: {{sunset | date:'dd/MM/yyyy H:m:s'}}</p>
	    <p>température: {{temp - 273 | number: 1}} °C</p>
	    <p>humidity: {{humidity}}</p>
	</div>
</div>